@charset "UTF-8";
html,body{
	margin: 0;
	width: 720px;
	height: 520px;
}

.calcul{
	border: 1px solid black;
	border-radius: 5px;
	overflow: hidden;
	width: 700px;
	height: 500px;
	padding: 5px;
	background: #E0FFFF;
	position: fixed;
	box-shadow: 10px 15px 16px gray;
	margin: 20px;
}

.headline{
	margin: 2px;
}

.top_menu{
	width: 95%;
	height: 10px;
}

.buttom_menu{
	text-align: left;
    display: block;
    list-style-type: none;
    margin: 0px;
    padding-left: 0;
    border: 1px solid black;
    overflow: hidden;
    background: white;
}

ul.buttom_menu li {
    display: inline; 
    margin-right: 5px;
	text-decoration: none;
}	
 
a {	
	text-decoration: none;
	color: black;
}

a:hover {
    text-decoration: none;
    color: white;  
    background: #6495ED;
}

.fon{
	background: #E6E6FA;  
    border: 1px solid black;
    margin: 0px;
    padding: 5px;
	border-top: none;
	height: 440px;
}

.empty{
	background: white;
    border: 1px solid black;
    width: 100%;
    height: 20px;
    margin: 5px auto;
}

.numbers{
	margin: 5px auto;
    padding-left: 0;
    border: 1px solid black;
    width: 100%;
	height: 140px;
	font-family: lucida console;
	display: flex;
}

.numbers1{
	width: 284px;
	margin: 28px;
	
}
.tab2{
	margin: 1px 1px 1px 78px;
	padding:5px;
}

.tab3{
	margin: 1px 78px 1px 1px;
	padding: 5px;
}

.lol{
	width: 30px;
	height:10px;
}

.mode{
    border: 1px solid black;
    width: 100%;
    margin: 5px auto;
	height: 258px;
	display: flex;
	flex-wrap: wrap;
}

.spisok{
	margin: 0px;
}


.spiski{
	width: 100px;
	height: 118px;
	margin: 4px;
	border: 1px solid black;
	list-style-type: none;
	padding-left: 0;
}

.b{
	width: 65px;
	height: 38px;
	border-radius: 4px;
	background: linear-gradient(#A9A9A9, white, #A9A9A9);
	outline: 0;
	font-weight: bolder;
}
.c{
	height: 78px;
}

.tab1{
	width: 576px;
	height: 100px;
	margin: 1px;
}

.b1{
	width: 138px;
}

.spisok_one{
	display: block;
    margin: 14px 17px;
    text-align: left;
}