@charset "UTF-8";
html,body{
	
	margin: 0 auto;
}
.calcul{
	
	border: 1px solid black;
	border-radius: 5px;
	overflow: hidden;
	width: 700px;
	height: 502px;
	padding: 5px;
	background: #E0FFFF;
	position: fixed;
	box-shadow: 10px 15px 16px gray;
	margin: 20px;
	
}


.headline{
	margin: 2px;
}
.top_menu{
	width: 95%;
	height: 10px;
}
.buttom_menu{
	text-align: left;
    display: block;
    list-style-type: none;
    margin: 0px;
    padding-left: 0;
    border: 1px solid black;
    overflow: hidden;
    background: white;
}


ul.buttom_menu li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
	text-decoration: none;
}	
 
a {	
	text-decoration: none;
	color: black;
}

a:hover {
    text-decoration: none; /* Убираем подчеркивание */
    color: white; /* Цвет ссылки при наведении на нее курсора мыши */  
    background: #6495ED; /* Цвет фона */
}

.fon{
	background: #E6E6FA;
    
    border: 1px solid black;
    margin: 0px;
    padding: 5px;
	border-top: none;
}

.empty{
	background: white;
    border: 1px solid black;
    width: 100%;
    height: 20px;
    margin: 5px auto;
	
}

.numbers{
	margin: 5px auto;
    padding-left: 0;
    border: 1px solid black;
    width: 100%;
	height: 140px;
	font-family: lucida console;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	
}
.numbers1{
	width: 284px;	
	margin: 28px;
	grid-column: 1;
	grid-row: 1;
}

.numbers2{
	width: 284px;	
	margin: 28px;
	grid-column: 2;
	grid-row: 1;
}
.tab2{
	margin: 1px 1px 1px 78px;
	padding:5px;
}

.tab3{
	margin: 1px 78px 1px 1px;;
	padding: 5px;
}

.mode{
	min-height: 250px;
    border: 1px solid black;
    width: 100%;
    margin: 5px auto;
	height: 253px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
}
.spisok{
	margin: 0px;
}

.spiski{
	width: 100px;
	height: 117px;
	margin: 4px;
	border: 1px solid black;
	list-style-type: none;
	padding-left: 0;
}

.b{
	color: black;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
	width: 46px;
	height: 30px;
	margin: 1px;
	border: 1px solid black;
	border-radius: 4px;
	background: linear-gradient(#C0C0C0, white, #C0C0C0);
}
.tab1{
	width: 576px;
	height: 100px;
	margin: 1px;
}

.b1{
	width: 116px;
}

.spisok_one{
	display: block;
    margin: 14px 17px;
    text-align: left;
	grid-column: 1;
	grid-row: 1;
	
}

.spisok_two{
	display: block;
    margin: 14px 17px;
    text-align: left;
	grid-column: 1;
	grid-row: 2;
}